a{
    text-decoration: none;
}

.contenedor{
    display: grid;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    grid-template-columns: 220px auto;
    grid-template-rows: auto 120px;
    grid-template-areas: "menu-lateral contenido-principal"
                            "reproductor reproductor" ;
}

.contenedor .menu-lateral{
    display: grid;
    grid-area: menu-lateral;
    background-color: #040404;
    /*grid-template-columns: 80px 140px;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "logo-spotify nombre-spotify"
                        "logo-inicio inicio"
                        "logo-buscar buscar"
                        "logo-biblioteca biblioteca"
                        "playslist playslit"
                        "logo-playslit crear-playslist";*/
}

.contenedor .menu-lateral .logo-spotify{
    display: block;
    font-size: 30px;
    padding: 25px 10px 0px 25px;
    margin-bottom: 20px;
}

.contenedor .menu-lateral .logo-spotify .fab, .contenedor .menu-lateral .logo-spotify .nombre-spotify{
    display: inline-flex;
}

.opciones-menu{
    display: block;
    font-size: 20px;
    height: 40px;
    margin: 0px 5px;
    color: #989898;
}

.iconos{
    display: inline-flex;
    padding: 10px;
}

/*.contenedor .menu-lateral .icono-inicio{
    display: block;
    font-size: 20px;
    height: 40px;
    margin: 0px 5px;
}

.contenedor .menu-lateral .icono-inicio .fas{
    display: inline-flex;
    padding: 10px;
}*/

.contenedor .menu-lateral .titulo-playslists{
    font-size: 15px;
    margin: 15px;
}

.activo{
    background-color: #282828;
    border-radius: 5px;
    color: #ffffff !important;
}

.contenedor .contenido{
    display: grid;
    grid-area: contenido-principal;
    background-color: #121212;
}

.contenedor .reproductor{
    display: grid;
    grid-area: reproductor;
    background-color: #252525;
}

.blanco{
    color: #ffffff;
}